body {
	background: url(/img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
}

.my-card {
	padding: 20px;
	background: url(/img/bg1.jpg);
	border-radius: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.9);
	border-radius: 15px 15px;
}

.my-card1 {
	padding: 20px;
	background: url(/img/bg1.jpg);
	border-radius: 15px 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.9);
}

.text-input {
	border-radius: 10px 25px;
}